# Enable RUST
CONFIG_RUST=y

# These need to be off to allow RUST to be enabled
CONFIG_MODVERSIONS=n
CONFIG_GCC_PLUGINS=n

# Options we want to enable for testing
CONFIG_ANDROID_BINDER_IPC_RUST=y
CONFIG_ANDROID=y
CONFIG_RUST_BUILD_ASSERT_DENY=y
CONFIG_RUST_OVERFLOW_CHECKS=y
CONFIG_SAMPLE_RUST_CHRDEV=m
CONFIG_SAMPLE_RUST_HOSTPROGS=y
CONFIG_SAMPLE_RUST_MINIMAL=m
CONFIG_SAMPLE_RUST_MISCDEV=m
CONFIG_SAMPLE_RUST_MODULE_PARAMETERS=m
CONFIG_SAMPLE_RUST_PRINT=m
CONFIG_SAMPLE_RUST_SEMAPHORE_C=m
CONFIG_SAMPLE_RUST_SEMAPHORE=m
CONFIG_SAMPLE_RUST_STACK_PROBING=m
CONFIG_SAMPLE_RUST_SYNC=m
CONFIG_SAMPLES_RUST=y
CONFIG_SAMPLES=y
CONFIG_WERROR=y

# Things to disable to speed up the build
CONFIG_ATA=n
CONFIG_AUTOFS4_FS=n
CONFIG_AUTOFS_FS=n
CONFIG_BLK_DEV_FD=n
CONFIG_BOOTX_TEXT=n
CONFIG_BTRFS_FS=n
CONFIG_CARDBUS=n
CONFIG_CIFS=n
CONFIG_CODE_PATCHING_SELFTEST=n
CONFIG_CPU_FREQ=n
CONFIG_CRAMFS=n
CONFIG_CRASH_DUMP=n
CONFIG_CRC_T10DIF=n
CONFIG_CRYPTO=n
CONFIG_DAX=n
CONFIG_DEBUGGER=n
CONFIG_DNOTIFY=n
CONFIG_EDAC=n
CONFIG_EXPORTFS=n
CONFIG_EXT2_FS=n
CONFIG_EXT3_FS=n
CONFIG_EXT4_FS=n
CONFIG_FAT_FS=n
CONFIG_FB=n
CONFIG_FS_DAX=n
CONFIG_FSNOTIFY=n
CONFIG_FTRACE=n
CONFIG_FTR_FIXUP_SELFTEST=n
CONFIG_FUNCTION_ERROR_INJECTION=n
CONFIG_FUSE_FS=n
CONFIG_HFS_FS=n
CONFIG_HFSPLUS_FS=n
CONFIG_HID=n
CONFIG_HOTPLUG_PCI=n
CONFIG_HUGETLBFS=n
CONFIG_HWMON=n
CONFIG_I2C=n
CONFIG_IBM_BSR=n
CONFIG_INOTIFY_USER=n
CONFIG_INPUT_MOUSE=n
CONFIG_INPUT_PCSPKR=n
CONFIG_ISO9660_FS=n
CONFIG_JFS_FS=n
CONFIG_JUMP_LABEL_FEATURE_CHECKS=n
CONFIG_KEXEC=n
CONFIG_KPROBES=n
CONFIG_LED=n
CONFIG_LIBCRC32C=n
CONFIG_LIBNVDIMM=n
CONFIG_MD=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_MPIC=n
CONFIG_MSDOS_FS=n
CONFIG_MSI_BITMAP_SELFTEST=n
CONFIG_NET=n
CONFIG_NFS_FS=n
CONFIG_NILFS2_FS=n
CONFIG_NLS=n
CONFIG_NR_CPUS=8
CONFIG_OVERLAY_FS=n
CONFIG_PCCARD=n
CONFIG_PCMCIA=n
CONFIG_PERF_EVENTS=n
CONFIG_PPC_POWERNV=n
CONFIG_PPC_SVM=n
CONFIG_PPC_VAS=n
CONFIG_PPS=n
CONFIG_RAID_ATTRS=n
CONFIG_RD_BZIP2=n
CONFIG_RD_GZIP=n
CONFIG_RD_LZ4=n
CONFIG_RD_LZMA=n
CONFIG_RD_LZO=n
CONFIG_RD_XZ=n
CONFIG_RD_ZSTD=n
CONFIG_REISERFS_FS=n
CONFIG_ROOT_NFS=n
CONFIG_RTAS_FLASH=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_SCSI=n
CONFIG_SERIAL_8250=n
CONFIG_SOUND=n
CONFIG_SQUASHFS=n
CONFIG_UDF_FS=n
CONFIG_USB=n
CONFIG_VFAT_FS=n
CONFIG_VIRTIO=n
CONFIG_VIRTUALIZATION=n
CONFIG_XFS_FS=n
CONFIG_XMON=n
CONFIG_XZ_DEC=n
